altgraph==0.16.1
appdirs==1.4.3
astroid==2.2.5
attrs==19.3.0
Automat==20.2.0
autopep8==1.4.4
baidu-aip==2.2.17.0
beautifulsoup4==4.9.0
certifi==2019.6.16
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cls==2019.4.13
colorama==0.4.1
configparser==5.0.0
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
cx-Oracle==7.3.0
cycler==0.10.0
demjson==2.2.4
Flask==1.1.2
future==0.17.1
gne==0.1.8
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
numpy==1.16.4
parsel==1.5.2
pefile==2019.4.18
Pillow>=6.1.0
Protego==0.1.16
public==2019.4.13
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.20
PyDispatcher==2.0.5
pyee==7.0.1
PyExecJS==1.5.1
PyHamcrest==2.0.2
pylint==2.3.1
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.4.0
pyppeteer==0.0.25
python-dateutil==2.8.0
pywin32-ctypes==0.2.0
PyYAML==5.3.1
queuelib==1.5.0
requests==2.22.0
Scrapy==2.1.0
selenium==3.141.0
service-identity==18.1.0
six==1.12.0
soupsieve==2.0
tqdm==4.45.0
Twisted==20.3.0
typed-ast==1.4.0
urllib3==1.25.3
w3lib==1.21.0
websockets==8.1
Werkzeug==1.0.1
wrapt==1.11.2
zope.interface==5.1.0
